<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand disabled" href="/">
          <img alt="&#9883" src="https://ru.gravatar.com/userimage/42306888/3128316850dcdf3110cc6a7ce62179a8?size=50">
        </a>
        <ul class="nav nav-pills nav-justified">
          <li>
            <a class="navbar-left" href="">iamantony</a>
          </li>
          <li>
            <a class="navbar-right" href="/about.html">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
