<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand disabled" href="/">
          <img src="https://www.gravatar.com/avatar/fd3afc62552a715f5cb8ec2554dd4a89?s=48&amp;d=identicon&amp;r=PG" alt="" width="40" height="40">
        </a>
        <ul class="nav nav-pills nav-justified">
          <li>
            <a class="navbar-left" href="/">iamantony</a>
          </li>
          <li>
            <a class="navbar-right" href="/about.html">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
