/* Color palette: http://www.color-hex.com/color-palette/41407 */

/* === Header styles === */
header > nav.navbar {
    border: none;
    border-radius: 0 0 4px 4px;

    background-color: rgb(106, 173, 185);
}

header div.navbar-header {
    width: 100%;
}

.nav-justified > li > a {
    font-size: 2em;
    color: rgb(25, 70, 90);
}

.nav-justified > li > a:hover {
    background-color: rgb(68,148,177);
    color: rgb(10, 55, 75);
}

/* === Styles for content section: list of posts === */
div.row ol.posts-list {
    padding: 0 20px;
}

div.row ol.posts-list li {
    list-style: none;
}

div.row ol.posts-list li p {
    text-align: justify;
}

/* === Styles for content section: post === */
div.post {
    padding: 0 20px;
}

div.post p {
    text-align: justify;
}
