<!-- TODO use info from people.yml -->

<div class="well">
    <h2><i class="icon-globe"></i> I'm on the Web</h2>
    <ul class="repository-list">
        <li><i class="icon-envelope-alt"></i> <a href="mailto:antony.cherepanov@gmail.com">antony.cherepanov@gmail.com</a></li>
        <li><i class="icon-twitter"></i> <a target="_blank" href="https://twitter.com/heyiamantony">Twitter</a></li>
        <li><i class="icon-github"></i> <a target="_blank" href="https://github.com/iamantony">GitHub</a></li>
        <li><i class="icon-comment"></i><a target="_blank" href="http://stackexchange.com/users/1670271/iamantony?tab=accounts">StackExchange</a>
    </ul>
</div>
